.players-table {
    border: 1px solid black;
    border-collapse: collapse;
}

.accounts-per-page-wrapper {
    margin: 20px 0;
}

.header-cell {
    border: 1px solid black;
    min-width: 80px;
    padding: 5px;
}

.cell {
    border: 1px solid black;
}

.cell-small {
    min-width: auto;
}

#count-per-page {
    width: auto;
}

.active-pagination-button {
    color: wheat;
}

.edit-image, .delete-image {
    width: 40px;
    height: 40px;
}

.hidden {
    visibility: hidden;
}

button {
    background-color: white;
    border: none;
}

button:hover {
    cursor: pointer;
}

.pagination-wrapper {
    margin: 20px 0;
}

.create-form {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    box-sizing: border-box;
}

.create-field {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-bottom: 10px;
}

.save-button {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 24px;
    margin-top: 5px;
    color: white;
    background-color: cornflowerblue;
    width: 100%;
}